@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
  background-color: black;
  color: white;
}

p {
  font-family: 'Shrikhand', cursive;
  margin-top: 250px;
  font-size: 40px;
}

.box {
  background-color: black;
  width: 1325px;
  height: 595px;
  position: absolute;
  text-align: center;
}
